clase4/node_modules
clase5/node_modules
clase6/node_modules
clase7/node_modules
clase8/node_modules
clase8/.env
clase9/node_modules
clase9/.env
clase10/node_modules
clase10/.env
clase11/node_modules
clase11/.env
clase12/node_modules
clase12/.env